<section>
    <form name="formFilter" [formGroup]="formFilter" (ngSubmit)="search()">
        <div class="content-form">
            <input
                type="text"
                name="name"
                placeholder="Nome"
                [formControlName]="'name'"
            />
            <div class="select-custom">
                <select [formControlName]="'block'">
                    <option [value]="null">Bloco</option>
                    <ng-template
                        #listBlocks
                        [ngTemplateOutlet]="listBlocks"
                        *ngFor="let block of blocks"
                    >
                        <option [value]="block">{{ block }}</option>
                    </ng-template>
                </select>
            </div>
            <button type="submit" [disabled]="formFilter.invalid">
                buscar
            </button>
        </div>
    </form>
</section>

<ng-container *ngIf="isLoading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="!isLoading">
    <app-blocks [sets]="sets" (codeEvent)="goBooster($event)"></app-blocks>
</ng-container>
