header {
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    figure {
        margin: 0;
        display: flex;
    }
}
